<div class="stars-container">
  <h2>Closest Stars</h2>
  <ul class="stars-list">
    <li *ngFor="let star of closestStars" class="star-item">
      <span>{{ star.name }}</span>
      <button (click)="onTravelToStar(star.id)" class="travel-button">Travel Here</button>
    </li>
  </ul>

  <div *ngIf="selectedStarId" class="planets-container">
    <h2>Planets in Selected Star</h2>
    <ul class="planets-list">
      <li *ngFor="let planet of planetsInSelectedStar" class="planet-item">
        <span>{{ planet.name }}</span>
        <button (click)="onTravelToPlanet(planet.id)" class="travel-button">Travel to Planet</button>
      </li>
    </ul>
  </div>
</div>
